### General ###

# Ignore docs inside the documentation directory
/documentation/**/docs/

# Ignore all files in the node_modules directory
*node_modules

# Ignore language server
language-server-log.txt

# Don't commit secrets to repo
.env

### Frontend ###

# dependencies
*.pnp
*.pnp.js
*.yarn/install-state.gz
*package-lock.json

# testing
*coverage

# next.js
*.next/
*out/

# production
*build

# misc
*.DS_Store
*.pem

# debug
*npm-debug.log*
*yarn-debug.log*
*yarn-error.log*

# local env files
.env*.local

# vercel
*.vercel

# typescript
*.tsbuildinfo
*next-env.d.ts

### Python ###

**/lib
**/lib64
**/bin
**/yolov8
**/yolov

yolov8x.pt
yolov8m.pt
yolo11n.pt

# Ignore runs directory
runs/

# Repo-specific GitIgnore ----------------------------------------------------------------------------------------------
*.jpg
*.jpeg
*.bmp
*.tif
*.tiff
*.heic
*.BMP
*.TIF
*.TIFF
*.HEIC
*.mp4
*.mov
*.MOV
*.avi
*.data
*.cfg
!setup.cfg
!cfg/yolov3*.cfg

storage.googleapis.com
runs/*
data/*
data/images/*
!data/*.yaml
!data/hyps
!data/scripts
!data/images
!data/images/zidane.jpg
!data/images/bus.jpg
!data/*.sh

results*.csv