# Apply CRLF to all files
* text eol=crlf

# Exclude .zip files from EOL normalization
*.zip -text

# Exlucde .jpg files from EOL normalization
*.jpg -text

# Exlucde .png files from EOL normalization
*.png -text

# Exlucde .pt files from EOL normalization
*.pt -text