matplotlib==3.9.2
numpy==2.1.2
opencv-python==4.10.0.84
pandas==2.2.3
pillow==11.0.0
psutil==6.0.0
py-cpuinfo==9.0.0
PyYAML==6.0.2
requests==2.32.3
scipy==1.14.1
seaborn==0.13.2
torch==2.4.1
torchvision==0.20.0
ultralytics==8.3.16
tqdm==4.66.5
ultralytics-thop==2.0.9